.pluses__items {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
  column-gap: 60px;
}

@media (max-width: 600px) {
  .pluses__items {
    row-gap: 20px;
    column-gap: 30px;
  }
}